# Core functionality - changes here should be rare!
/src/app.py                   @amart251
/src/backend/database.py      @amart251
/src/backend/routers/auth.py  @amart251

# The frontend will need refactored soon to be more object oriented.
/src/static/   @amart251
